<h1>Contacts</h1>

<section class="count">
  There are <span> <%= @contacts.length%> </span> contacts
</section>
<!-- List out contact information  -->

<section class="contact">
  <ul class="contact_list">
    <% @contacts.each do |contact| %>
      <li class="each_contact">
        <%= " ID: #{contact.id} Name: #{contact.full_name} Email:#{contact.email}" %>
      </li>
      <aside>
        <a href="#">Edit</a>|<a href="#">Delete</a>
      </aside>
    <% end %>
  </section>
</ul>
