<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>

  <header>
    <h1 class="title">Bitmaker CRM</h1>
    <!-- NAVBAR  -->
    <nav>
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contacts">Add a Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    </nav>
  </header>

  <body>
    <main>
      <!-- the site content from other erbs will go here -->
    <%= yield %>
    </main>

  </body>

  <footer> <p>&copy; Bitmaker 2016</p> </footer>

</html>
