* {
  box-sizing: border-box;
  font-family: Helvetica, arial, sans-serif;
}

main {
  max-width: 909px;
  margin: 0px auto;
}


footer{
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}


 /* NavBar styling */
nav{
 background-color: #d9d9d9;
}

ul{
  text-align: center;
  padding-left: 0px;
  margin-top: 0px;
}

nav.link{
  background-color: #d9d9d9;
  text-align: center;
  list-style: none;
}

.link a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.2em;
}

/*Header Styling*/
.title{
  padding-top: 10px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
