footer{
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}


 /* NavBar styling */
nav{
 background-color: #d9d9d9;
}


.link{
  background-color: #d9d9d9;
  text-align: center;
  list-style: none;
}

.link a{
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px;
  font-size: 1.2em;


}

/*Header Styling*/
.title{
  padding-top: 10px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
